{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{# Set the title variables #}
{% set title = content['#settings']['section_title']['heading'] %}
{% set heading_style = content['#settings']['section_title']['heading_style'] %}

{% if content.first or content.second %}
  <div{{attributes}}>
    {% if title %}
      <{{heading_style}} class="section-title {{heading_style}} {{ content['#settings']['section_title']['heading_alignment'] }}">
        {{ title }}
      </{{heading_style}}>
    {% endif %}
    <div class="layout__area">
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
