{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{# Set the title variables #}
{% set title = content['#settings']['section_title']['heading'] %}
{% set heading_style = content['#settings']['section_title']['heading_style'] %}

{% if content.content %}
  <div{{attributes}}>
    {% if title %}
      <{{heading_style}} class="section-title {{heading_style}} {{ content['#settings']['section_title']['heading_alignment'] }}">
        {{ title }}
      </{{heading_style}}>
    {% endif %}
    <div class="layout__area">
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
